.table-wrap{
	/* overflow-x: scroll; */
	margin-top: 25px;
	text-align: center;
}	
table.table-1 {
   border-collapse: collapse;
   border-spacing: 1;
	width: 1500px;
	text-align: center;
	margin: auto;
}
table.table-1 tr {
	background-color: #f8f8f8;
}
table.table-1 th, table.table-1 td {
	text-align: center;
   padding: 8px;
   border: 1px solid rgb(0, 0, 0);
}
table.table-1 th{
	font-weight: bold;
}

th, td:first-child {
	background: #6cade6;
	color: white;
	padding: 20px 40px;
	}
	th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	}
	td {
	background: #D8E6F3;
	padding: 10px;
	}
	th:first-child, td:first-child {
	text-align: center;
	}
	th{
		text-align: center;
	}

.table__title{
	background: #3a84ca;
}

.name__it{
	display: block;
	color: #47a7e2;
	margin-top: 130px;
	/* text-transform: uppercase; */
	font-weight: bold	;
	font-size: 34px;
	text-align: center;
}

footer{
	margin-top: 300px;
	background: rgb(96, 95, 95);
	height: auto;
	width: 100%;
	text-align: center;
	color: #fff;
	margin-top: 50px;
	}

	@media (max-width:1700px) {
		table.table-1 {
			border-collapse: collapse;
			border-spacing: 1;
			width: 1000px;
			text-align: center;
			margin: auto;
		}
		footer{
			background: rgb(96, 95, 95);
			height: auto;
			width: 100%;
			text-align: center;
			color: #fff;
			margin-top: 100px;
			}
	}

	@media(max-width: 1400px){
		.footer__mobile{
			display: block;
		}
		.footer__PC{
			display: none;
		}
		footer{
			position: absolute;
			left: 0;
			right: 0;
			top: 2050px; 
			background: rgb(96, 95, 95);
			height: auto;
			width: 100%;
			text-align: center;
			color: #fff;
			}
	}
	@media (max-width:1000px) {
		table.table-1 {
			border-collapse: collapse;
			border-spacing: 1;
			width: 500px;
			text-align: center;
			margin: auto;
		}
		footer{
			position: absolute;
			left: 0;
			right: 0;
			top: 2900px; 
			background: rgb(96, 95, 95);
			height: auto;
			width: 100%;
			text-align: center;
			color: #fff;
			}
	}
	@media (max-width:780px) {
		.table-wrap{
			overflow-x: scroll;
			margin-top: 20px;
			text-align: center;
		}
		table.table-1 {
			border-collapse: collapse;
			border-spacing: 1;
			width: 1500px;
			text-align: center;
			margin: auto;
		}
		table.table-1 {
			border-collapse: collapse;
			border-spacing: 1;
			width: 1000px;
			text-align: center;
			margin: auto;
		}
		footer{
			position: absolute;
			left: 0;
			right: 0;
			top: 2050px; 
			background: rgb(96, 95, 95);
			height: auto;
			width: 100%;
			text-align: center;
			color: #fff;
			}
	}

	@media (max-width:600px) {
		.name__it{
			display: block;
			color: #47a7e2;
			margin-top: 100px;
			/* text-transform: uppercase; */
			font-weight: bold	;
			font-size: 34px;
			text-align: center;
		}
	}
	